
body{	
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	background-color: rgba(141, 141, 0, 0.61);
}
.alinearHorizontal{
	vertical-align:top;
	display:inline-block;
}
.centrarDiv{
	margin:0px auto;
}
.centrarTexto{
	text-align:center;
}
.cursorPointer{
	cursor:pointer;
}
.borderRadius-5{
	border-radius:5px;
}
.borderBox{
	box-sizing:border-box;
}
.letraNegrita{
	font-weight:bold;
}
.contenedorImagen{
	width:30%;
	height:300px;
	margin-left:20%;
	margin-top:7%;
	min-width:200px;
}
.contenedorImagen img{
	width:100%;
	height:100%;
}
.contenedorPalabra{
	width:30%;
	height:300px;
	background-color:white;
	margin-top:7%;
	min-width:200px;
}
.palabraSecreta{
	width:80%;
	height:50px;
	margin-top:7%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:black;

}
.letra{
	width:30px;
	height:25px;
	font-size:20pt;
}
.botonJugar{
	margin-top:2%;
	width:135px;
	height:35px;
	padding:2%;
	background-color:rgb(131, 131, 18);
	border-radius: 10px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: bold;
}
.contenedorNoIntentos{
	width:100%;
	margin-top:5%;
	background-color: olivedrab;
}
.tituloNoIntentos,.noIntentos{
	font-weight:bold;
	font-size:20px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.noIntentos{
	font-size: 30px;;
	width:70px;
	height:45px;
	border:solid 3px black;
	padding-top:1%;
	border-radius:50px;
	background-color:olive;
	color: white;
}
.contenedorLetras{
	width:80%;
	height:200px;
	margin-top:3%;
}
.botonLetra{
	width:50px;
	height:50px;
	border:solid 3px black;
	background-color: olivedrab;
	border-radius: 6px;
	margin-left:3%;
	margin-bottom:3%;
	padding-top:1.5%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 30px;
	color: white;
	margin: 0 auto;
}

h1{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	font-size: 50px;

	
}